$mainbg: #ffffff;
$secondarybg: #f7fff6;
$components: #029837;
$btnpassiveborder: #029837;
$btnpassivebg: transparent;
$btnactcontent: #ffffff;
$btnactbg: #029837;
$textcl: #000033;
$secondarytextcl: #ffffff;
$dotscl: rgba(0, 0, 51, 0.15);
$footer-bg: rgba(0, 0, 51, 0.95);
$mobile-nav-bg: rgba(255, 255, 255, 0.3);
$burger-line-color: #000;
$hero-extra-bg: #ffffff;
$hero-extra-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
$navbarheight: 9.8rem;
$testcards: 3;
$testgap: 4.1rem;
