@use "../variables" as *;
@use "../mixins" as m;

.prices {
  .container {
    .row {
      padding: 14.1rem 0;
      flex-direction: column;
      gap: 12rem;
      align-items: center;

      .sectiontitle {
        @include m.maintitle();
        width: 60%;
        text-align: center;
      }

      .grid-cards {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 9rem;

        .pricecard {
          border-radius: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6.8rem;
          gap: 5.6rem;
          @include m.cardshadows();

          .tarrifname {
            @include m.cardtitle();
          }

          .price {
            .value,
            .currency {
              @include m.maintitle();
              font-size: 6.5rem;
            }
          }

          .tarrifbenefits {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            margin-bottom: 4.1rem;
            li {
              list-style: disc;
              @include m.paragraphtext();
            }
          }

          .btnpass {
            @include m.btnpass();
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .prices {
    .container {
      .row {
        padding: 7rem 0;
        gap: 6rem;

        .sectiontitle {
          width: 100%;
        }

        .grid-cards {
          grid-template-columns: repeat(1, 1fr);
          column-gap: 0;
          row-gap: 3rem;

          .pricecard {
            padding: 3.4rem;
            gap: 2.6rem;
          }

          .price {
            .value,
            .currency {
              font-size: 3.2rem;
            }
          }

          .tarrifbenefits {
            gap: 0.6rem;
            margin-bottom: 2rem;
            // ...existing code...
          }
        }
      }
    }
  }
}
