@use "../variables" as *;
@use "../mixins" as m;

.solutions {
  .container {
    .row {
      flex-direction: column;
      justify-content: center;
      padding-top: 9.6rem;
      padding-bottom: 10.6rem;
      text-align: center;
      gap: 2.4rem;

      .sectiontitle {
        @include m.sectiontitle();
      }

      .paragraphtext {
        @include m.paragraphtext();
        margin: auto;
      }

      .grid-cards {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6.9rem;

        .card {
          display: flex;
          margin-top: 6.8rem;
          flex-direction: column;
          align-items: flex-start;
          box-shadow: 0 0.4rem 0.4rem hsla(0, 0%, 0%, 0.25);
          padding: 4.4rem 3.3rem 4.687rem 3.4rem;
          gap: 2.1rem;
          border-radius: 1rem;
          @include m.boxhovereffect();

          .imgbox {
            width: 6.51rem;
            height: 5.3rem;
            background-color: rgba(2, 152, 54, 0.1);
            border-radius: 0.654rem;
            padding: 0.6rem 0.4rem;
            svg {
              fill: none;
              stroke: black;
              stroke-width: 0.4px;
              height: 100%;
              width: 100%;
            }
          }

          .cardtitle {
            @include m.cardtitle();
          }

          .paragraphtext {
            @include m.cardtext();
            margin: 0;
            max-width: 100%;
            text-align: start;
            margin-bottom: 2.1rem;
          }

          .btnpass {
            width: fit-content;
            @include m.btnpass();
            font-size: 1.294rem;
            padding: 1.106rem 2.9rem;
          }
        }
      }
    }
  }

  &.secondarybg {
    background-color: $secondarybg;
    .container {
      .row {
        .grid-cards {
          .card {
            background-color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .solutions {
    .container {
      .row {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
        gap: 1.2rem;

        .grid-cards {
          grid-template-columns: repeat(1, 1fr);
          align-items: stretch;

          .card {
            margin-top: 3.4rem;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1.2rem 2.4rem;
            gap: 1.2rem;
            width: 100%;

            .imgbox {
              display: none;
            }

            .cardtitle {
              padding: 0 1rem;
              text-decoration: underline $components;
              width: 70%;
              white-space: wrap;
              text-align: left;
            }

            .paragraphtext {
              display: none;
            }

            .btnpass {
              width: 30%;
              padding: 1.4rem 1.2rem;
            }
          }
        }
      }
    }
  }
}
