@use "../variables" as *;
@use "../mixins" as m;
.testimonials {
  background-color: $secondarybg;
  @include m.sectiondots(23px, 42px);
  .container {
    .row {
      padding-top: 9rem;
      padding-bottom: 16.4rem;
      flex-direction: column;
      align-items: center;
      gap: 8.1rem;

      .sectiontitle {
        @include m.sectiontitle();
        width: 100%;
        text-align: center;
      }
      .carousel {
        overflow: hidden;
        width: 100%;
        padding: 1.6rem 0;

        &.mask {
          -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
          );
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-size: 100% 100%;
          mask-image: linear-gradient(
            to right,
            transparent,
            black 20%,
            black 80%,
            transparent
          );
        }

        .track {
          display: flex;
          gap: $testgap;
          justify-content: flex-start;

          will-change: transform;
          animation: scroll 20s linear infinite;
          .testimonial {
            @include m.testshadows();
            @include m.boxhovereffect();
            background-color: #fff;
            padding: 3.4rem 3rem 3.3rem 2.7rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2.2rem;

            flex: 0 0
              calc((100% - (#{$testcards - 1} * #{$testgap})) / #{$testcards});
            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .top-left {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                .imgbox {
                  width: 5.6rem;
                  height: 5.6rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;

                  img {
                    text-align: center;
                    border-radius: 50%;
                  }
                }
              }
              .titles {
                .testtitle {
                  @include m.testtitletext();
                }
                .testsubtitle {
                  @include m.testsubtitle();
                }
              }
              .top-right {
                width: 2.2rem;
                height: 5.1rem;
                img {
                  object-fit: contain;
                }
              }
            }
            .testtext {
              @include m.testparagraph();
            }
          }
        }
        &:hover .track {
          animation-play-state: paused;
        }
      }
    }
    &.whitebg {
      background-color: #fff;
      .container {
        .row {
          .grid-cards {
            row-gap: 7rem;
          }
        }
      }
    }
  }
  &#expand {
    .carousel {
      .track {
        animation: none;
      }
    }
  }
  &#salestest {
    background-color: #fff;
    .carousel {
      .track {
        animation: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (max-width: 992px) {
      .carousel {
        .track {
          grid-template-columns: repeat(1, 1fr);
          .testimonial {
            justify-self: center;
            display: block;
          }
        }
      }
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-103%);
  }
}

@media screen and (max-width: 992px) {
  .testimonials {
    @include m.sectiondots(12px, 21px);
    &::before {
      width: 9.5%;
    }
    &::after {
      width: 9.5%;
    }

    .container {
      .row {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;

        gap: 6rem;
        .sectiontitle {
          @include m.sectiontitle();
        }
        .carousel {
          .track {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .testimonial {
              width: 70%;
              padding: 3.4rem 3rem 3.3rem 2.7rem;
              border-radius: 1rem;
              display: flex;
              flex-direction: column;
              gap: 2.2rem;
              &:nth-child(4) {
                display: none;
              }
              &:nth-child(5) {
                display: none;
              }
              &:nth-child(6) {
                display: none;
              }
              .top {
                .top-left {
                  .imgbox {
                    border-radius: 50%;
                    img {
                    }
                  }
                }
                .top-right {
                  width: 2.2rem;
                  height: 5.1rem;
                }
              }
              .testtext {
                @include m.testparagraph();
              }
            }
          }
        }
      }
    }
  }
  @keyframes scroll {
    to {
      transform: translateX(0);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  #track {
    animation: none;
    transform: none !important;
  }
}
